<nav
  class="navbar bg-dark bg-gradient border border-2 border-black fw-bold justify-content-around p-0"
>
  <a
    class="navbar-brand text-light"
    routerLink="/artikli"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Automat</a
  >
  <a
    *ngIf="!jePrijavljen()"
    class="navbar-link text-bg-secondary bg-gradient text-decoration-none p-3"
    routerLink="/prijava"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Prijava</a
  >
  <a
    *ngIf="jePrijavljen()"
    class="navbar-link text-bg-secondary bg-gradient text-decoration-none p-3"
    routerLink="/podesavanja"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Podesavanja</a
  >
  <a
    *ngIf="jePrijavljen()"
    class="navbar-link text-bg-secondary bg-gradient text-decoration-none p-3"
    routerLink="/odjava"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Odjava</a
  >
</nav>
