<form
  class="form border border-2 border-black text-bg-dark bg-gradient"
  [formGroup]="prijavaForma"
  (ngSubmit)="prijaviSe()"
>
  <div class="w-50 mx-auto">
    <div>
      <label for="korIme" class="form-label fw-semibold">Korisnicko ime:</label>
      <input
        id="korIme"
        type="text"
        class="form-control rounded-0"
        formControlName="korIme"
      />
      <div *ngIf="korIme?.invalid && (korIme?.dirty || korIme?.touched)">
        <div *ngIf="korIme?.errors?.['required']" class="text-danger">
          Korisnicko ime je obavezno.
        </div>
      </div>
    </div>

    <div class="mt-3">
      <label for="lozinka" class="form-label fw-semibold">Lozinka:</label>
      <input
        id="lozinka"
        type="password"
        class="form-control rounded-0"
        formControlName="lozinka"
      />
      <div *ngIf="lozinka?.invalid && (lozinka?.dirty || lozinka?.touched)">
        <div *ngIf="lozinka?.errors?.['required']" class="text-danger">
          Lozinka je obavezna.
        </div>
      </div>
    </div>

    <div *ngIf="greska" class="text-danger mt-3">
      <p>Uneli ste pogresno ime ili lozinku</p>
    </div>

    <div class="mt-3">
      <button
        class="btn btn-primary bg-gradient rounded-0 fw-bold mt-3"
        type="submit"
      >
        Prijavi se
      </button>
    </div>
  </div>
</form>
