<form
  class="form border border-2 border-black"
  [formGroup]="kupovinaForma"
  (ngSubmit)="kupi()"
>
  <div class="text-bg-dark bg-gradient">
    <div>
      <label for="novac" class="form-label fw-semibold">Ubacite novac:</label>
      <input
        id="novac"
        type="number"
        class="form-control rounded-0"
        formControlName="novac"
      />
    </div>

    <div class="mt-3">
      <button
        class="btn btn-secondary bg-gradient rounded-0 fw-bold"
        (click)="ubaciNovac()"
      >
        Ubaci
      </button>
    </div>

    <div mt-3>
      <label for="sifra" class="form-label fw-semibold"
        >Unesite sifru artikla:</label
      >
      <input
        id="sifra"
        type="number"
        class="form-control rounded-0"
        formControlName="sifra"
      />
    </div>

    <div class="mt-3">
      <button
        class="btn btn-primary bg-gradient rounded-0 fw-bold"
        type="submit"
      >
        Kupi
      </button>
    </div>
  </div>
</form>
